@import "tailwindcss";

:root {
  --background: #363636;
  --foreground: #ededed;
  --red:        #FF6961;
  --orange:     #FFC067;
  --purple:     #A680ED;
  --blue:       #9ACEFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer utilities {
  .border-texture {
    @apply border-2 border-white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono);
}
